<!-- Shop Start -->
<div class="container-fluid pt-4">
    <div class="row">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <div class="card mb-4 border-0 bg-secondary pl-4">
                <div class="card-body">
                    <div class="flex mb-4">
                        {{#if me.avatar}}
                        <img src="{{me.avatar}}" alt="avatar" class="rounded-circle img-fluid" style="width: 70px; height: 70px; object-fit: cover">
                        {{else}}
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 70px; height: 70px">
                        {{/if}}
                            
                        <h5 class="my-1 ml-3">{{me.name}}</h5>
                    </div>
                    <a href="me" class="text-muted mb-1 block pl-2"><i class="fas fa-shopping-cart mr-2"></i>Đơn hàng</a>
                    <a href="info" class="text-muted mb-1 block pl-2"><i class="fas fa-user mr-2"></i>Thông tin</a>
                    <a href="addr" class="text-muted mb-1 block pl-2"><i class="fas fa-map mr-2"></i>Địa chỉ</a>
                </div>
            </div>
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3 px-5 flex-col">
                <h5 class="font-weight-semi-bold mb-4">Địa chỉ</h5>
                {{#each addr}}
                <div class="flex bg-secondary rounded-xl w-full mb-2" style="flex-wrap: wrap;">
                    <div class="px-4 py-3 block" >
                        <p class="font-semibold text-primary">{{this.own_name}} 
                            {{#if this.isdefault}}
                            (Mặc định)
                            {{/if}}
                        </p>
                        <p style="opacity: 0.7;">{{this.addr_phone}}</p>
                        <p style="opacity: 0.7;" class="mb-2">{{this.street}}, {{this.ward}}, {{this.district}}, {{this.city}}</p>
                        <a href="checkout/set-default?addr_id={{this.addr_id}}" class="block">Chọn làm mặc định</a>
                        <a href="edit?addr_id={{this.addr_id}}" class="mr-4">Sửa</a>
                        <a href="edit?addr_id={{this.addr_id}}&delete=1" class="">Xóa</a>
                    </div>
                </div>
                {{/each}}
                <a class="dropdown-item bg-secondary" href="edit"><i class="fas fa-plus pr-2"></i>Thêm địa chỉ mới</a>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->